* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}

.container {
  padding: 0px 15%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 15px;
}

header {
  display: flex;
}

section {
  margin-top: 200px;
}

section h1 {
  padding-bottom: 50px;
}

section h2 {
  padding-bottom: 30px;
}

section p {
  padding: 10px;
}

aside {
  margin-top: 10px;
}

header {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.skilllist {
  display: flex;
}
.range {
  border: 10px solid green;
  padding-right: 300px;
  margin-left: 10%;
}
.skilllist #f {
  padding-right: 0.1px;
  padding-bottom: 20px;
}

.skilllist #s {
  padding-right: 50px;
}

main h1 {
  margin-left: 20%;
}

.support {
  display: flex;
  margin-bottom: 30px;
}

.middle {
  margin: 0px 25%;
}

footer {
  display: flex;
}
footer ul {
  display: flex;
  list-style: none;
}

footer ul li {
  padding: 10px;
}

.left {
  padding-right: 300px;
}
legend {
  /* margin-left: 400px; */
}
form label,
input {
  padding: 5px;
  margin: 5px;
}

form #test {
  padding-right: 50px;
}
